<div class="container">
  <h1>Japanese Fashion Hair Accessories</h1>
  <div class="row">
    Welcome to Bujin-retail.com. We are proud to recommend to you the highest quality fashion hair accessories imported from Japan. We sell Japanese Kanzashi/Hair Sticks, Hair Pins, Hair claws and barrettes which are very chic and fashionable, and shipping is free.
  </div>
  <hr>
  <div id="auction-nudge-items" class="auction-nudge"></div>
</div>
